* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

.abc {
    width: 100%;
}

.big-img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f6fa;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 2;
}

.overlay[hidden] {
    display: none;
}

.overlay, .scare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.overlay-body {
    flex: 1;
    text-align: center;
    max-width: 512px;
}

.overlay-title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 16px;
}

.overlay-description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
    line-height: 1.25;
}

.overlay-buttons-wrapper {
    display: flex;
    justify-content: center;
}

.overlay-button {
    padding: 10px 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 6px;
    cursor: pointer;
    color: rgb(27, 11, 195);
    border: 2px solid rgb(13, 13, 213);
}


#accept-button:hover{
    background-color: rgb(0, 26, 219);
    color: #fff;
}

#decline-button:hover {
    color: #fff;
    border: 2px solid red;
    background-color:red;
}

.overlay-button:hover {

}

.scare {
    z-index: 1;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video::-webkit-media-controls-enclosure {
    display:none !important;
}

.khuyen-cao {
    font-size: 4px;
   position: absolute;
   left: 0;
   bottom: 0;
}